Adafruit-Blinka==9.2.0
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-busdevice==5.2.17
adafruit-circuitpython-connectionmanager==3.1.8
adafruit-circuitpython-requests==4.1.17
adafruit-circuitpython-rgb-display==3.14.6
adafruit-circuitpython-typing==1.12.3
Adafruit-PlatformDetect==3.89.1
Adafruit_PureIO==1.1.12
anyio==4.15.1
av==18.1.0
binho-host-adapter==0.1.6
blinker==1.9.0
certifi==2026.7.22
cffi==2.1.1
click==8.5.0
ctranslate2==4.8.2
faster-whisper==1.2.1
filelock==4.0.10
Flask==3.1.3
flatbuffers==25.12.19
fsspec==2026.9.0
h11==0.16.0
hf-xet==1.6.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.33.0
idna==3.20
itsdangerous==2.2.0
Jinja2==3.1.6
lgpio==0.2.2.0
MarkupSafe==3.0.4
numpy==2.4.6
onnxruntime==1.30.0
packaging==26.3
pathvalidate==3.3.1
pillow==12.3.0
piper-tts==1.8.0
protobuf==7.36.2
pycparser==3.0
pyftdi==0.57.2
pyserial==3.5
pyusb==1.3.1
PyYAML==6.0.3
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
sherpa-onnx-core==1.13.8
sherpa_onnx==1.13.8
sounddevice==0.5.6
sysv_ipc==1.2.0
tokenizers==0.23.2
tqdm==4.70.1
typing_extensions==4.16.0
Werkzeug==3.1.9
